.kitty {
  float: left;
  width: 200px;
  height: 150px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: rgb(101, 182, 220);
  padding: 30px;
  border: solid black;
  margin-bottom: 10px;
  box-sizing: border-box;
}

li {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(246, 255, 117);
}

.column {
  width: 300px;
  float: left;
}

.main {
  background-color: rgb(190, 224, 213);
  border: 2px solid black;
}

h1 {
  background-color: rgb(131, 147, 147);
}

body {
  font-family: 'Verdana';
}

.column1 {
  background-color: cadetblue;
  width: 300px;
  float: left;
}

.column2 {
  background-color: rgb(213, 185, 113);
  width: 300px;
  float: left;
}

.column3 {
  background-color: rgba(227, 181, 166, 0.88);
  width: 300px;
  float: left;
}

.blog {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(221, 240, 233);
}

.date {
  font-weight: bold;
  margin-bottom: 3px;
  background-color: rgb(47, 63, 52);
  color: white;
}

.my-class {
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(152, 134, 143);
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  border: 1px solid black;
  display: block;
}

.digital p {
  background-color: rgb(242, 186, 186)
}

.analog p {
  background-color: rgb(240, 233, 199);
}

.digital p a {
  font-weight: bold;
}

.analog p a {
  font-style: italic;
}

a {
  font-weight: normal;
}

h2 {
  font-size: 32px;
}
